<!DOCTYPE html>
<!-- Declara que a raiz do elemento que permite o comportamento para ser modificado pelo Angular. -->
<html>
<head>
<title>Lista de Tarefas</title>

<!-- build:css css/third-party.css -->
<!-- bower:css -->
<link rel="stylesheet" href="lib/dependencies/css/bootstrap.min.css" />
<!-- endbower -->
<!-- endbuild -->

<!-- build:css css/application.css -->
<link rel="stylesheet" type="text/css" href="css/style.css" />
<!-- endbuild -->

<!-- build:js lib/third-party.js -->
<!-- bower:js -->

<script src="lib/dependencies/angular.min.js"></script>
<script src="lib/dependencies/angular-resource.min.js"></script>
<script src="lib/dependencies/jquery.min.js"></script>
<script src="lib/dependencies/ui-bootstrap-tpls.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js script/all.js -->
<script src="script/task.js"></script>
<!-- endbuild -->
</head>

<body ng-app="UserManagement" ng-controller="UserManagementController">

	<h1>Gerenciamento de Tarefas</h1>

	<br>

	<div class="grid">
		<div>
			<h3>Lista de tarefas</h3>
		</div>

		<table class="gridStyle">
			<tr>
				<th>Titulo</th>
				<th>Descricao</th>
				<th>Status</th>
				<th>Actions</th>
			</tr>

			<tr ng-repeat="task in tasks">
				<td>{{ task.titulo }}</td>
				<td>{{ task.descricao }}</td>
				<td>{{ task.status }}</td>
				<td><a ng-click="editTask( task )" class="btn btn-primary">Editar</a>
					| <a ng-click="removeTask( task )" class="btn btn-primary">Remover</a></td>
			</tr>

		</table>

	</div>


	<div class="form">
		<div>
			<h3>Edição</h3>
		</div>

		<form ng-submit="submitTask()">
			<div class="form-group">
				<label for="titulo">Título:</label> 
				<input type="text"	class="form-control" id="titulo"
				 ng-model="form.titulo" maxlength="30"
				 required ng-minlength="2" ng-maxlength="50">
			</div>

			<div class="form-group">
				<label for="descricao">Descrição:</label> 
				<input type="text"	class="form-control" id="descricao" ng-model="form.descricao"
					maxlength="30"
				 required ng-minlength="2" ng-maxlength="50">
			</div>

			<div class="form-group">
				<label for="concluido">Tarefa concluída (S/N) ?</label> 
				<input type="text" class="form-control" id="concluido" ng-model="form.status" maxlength="1"
				 required ng-minlength="1" ng-maxlength="1">
			</div>
			<button type="submit" class="btn btn-default">Salvar</button>
		</form>

	</div>

</body>
</html>
